<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/abeb8ceaf0.js" crossorigin="anonymous"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section class="main">
        <div class="navbar-web">
            <h1 class="web-name">MOnline</h1>
            <div class="navbar-content">
                <div class="navbar-icons">
                    <div class="navbar-movies">
                         <select id="model-options" width = 50%>
                            <option value="rbm">Restrictive Boltzman Machine</option>
                            <option value="embeddings">Embeddings</option>
                            <option value="dnn">Deep Neuronal Network</option>
                         </select>
                    </div>
                    <div>
                        <form id = "container-options" action="/recommend" method = "post">
                            <div class = "container-movies-options">
                                <div>
                                    <select class = "movies-options" name = "options"></select>
                                    <input class = "movies-ratings" type="text" placeholder = "Rating" maxlength = "1">
                                </div>
                            </div>
                                <input id = "submit" type = "submit" value = "Enviar">
                        </form>
                    </div>
                </div>
            </div>
            <div class="movies_header">
                <button id="refresh-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="#333333" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10.09 4.01l.496 -.495a2 2 0 0 1 2.828 0l7.071 7.07a2 2 0 0 1 0 2.83l-7.07 7.07a2 2 0 0 1 -2.83 0l-7.07 -7.07a2 2 0 0 1 0 -2.83l3.535 -3.535h-3.988" />
                        <path d="M7.05 11.038v-3.988" />
                    </svg>
                </button>
                <button id="add-movie"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>

        <section id = "movies-popular">
            <div class = "list-movies">
                {% for movie in popular_movies %}
                <div class = "card" id = "{{ movie.id }}">
                    <article>
                        <p class = "card-title">{{ movie.title }}</p>
                        <p class = "card-date">{{ movie.release_date }}</p>
                    </article>
                    <img class = "card-movie" src = "{{ movie.image }}" alt = "{{ movie.title }}" />
                </div>
                {% endfor %}
            </div>
        </section>
    </section>

    <!-- Template for movie cards -->
    <template id="movie-template">
        <div class="card">
            <article>
                <p class="title"></p>
                <p class="release-date"></p>
            </article>
            <img src="" alt="" />
        </div>
    </template>

    <!-- Script for the selection of movie options -->
    <script src = "../static/js/add_movie.js"></script>
    <script src = "../static/js/models.js"></script>
</body>

</html>