*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

i{
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.web-name{
    padding: 5px 10px 5px 10px;
    margin: 0;
    font-size: 20;
}

.navbar-web{
    height: 100vh;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #333;
    color: #fff;
    padding: 10px 5px 10px 5px;
    background-color: green;
}

.navbar-content{
    flex : 1;
}

.navbar-icons{
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navbar-movies{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movies-popular {
    width: 100%;
}

.list-movies {
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Pone los elementos hijos en una columna */
    align-items: center; /* Alinea los elementos hijos horizontalmente */
    //justify-content: center; /* Justifica los elementos hijos verticalmente */
    padding: 10px 0;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */

    img {
        width: 55%;
        height: auto;
        border-radius: 5px;
    }
    
    article {
		display: flex;
		flex-direction: column;
        margin-bottom: 10px;

		p {
			margin: 0;
			line-height: 1.5;
            text-align: center;
			&:first-child {
				font-weight: 900;
			}

			&:last-child {
				color: gray;
                font-weight: 500;
			}
		}
	}
}